<div class="hero">
    <div class="overlay">
        
        
        <br>
        
        
        
        <!-- Dlaždicová galéria -->
        <h1>{{ 'DIELNE.WELCOME' | translate }}</h1>
        <div class="gallery-grid">
            <div class="grid-item" *ngFor="let image of images; let i = index" (click)="openFullscreen(i)">
                <img [src]="image" alt="Gallery Image">
            </div>
        </div>
            <div class="buttons">
              <a class="btn" routerLink="/eshop">{{ 'HOME.ESHOP' | translate }}</a>
              <a class="btn" routerLink="/dielne">{{ 'HOME.DIELNE' | translate }}</a>
              <a class="btn" routerLink="/tradicia">{{ 'HOME.TRADICIA' | translate }}</a>
              <!-- <a class="btn" routerLink="/">{{ 'BASE' | translate }}</a> -->
            </div>
            
            <p>
                {{ 'HOME.FIRST_TEXT' | translate }}
            </p>
          
        
        <!-- Fullscreen prehliadač -->
        <div class="fullscreen" *ngIf="isFullscreen" [@slideFullscreen]>
            <button class="close-btn" (click)="closeFullscreen()">✖</button>
        
            <div class="image-wrapper" (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()">
                <img [src]="images[currentIndex]" alt="Full Image">
            </div>
            
            <button class="prev" (click)="prevImage()">❮</button>
            <button class="next" (click)="nextImage()">❯</button>
        </div>
        
          
    </div>
</div>
  

