
    <footer class="footer">
        <div class="container">
          <!-- O nás -->
          <div class="footer-col">
           <h4 [innerHTML]="'FOOTER.ABOUT.TITLE' | translate | linkify"></h4>
  <p [innerHTML]="'FOOTER.ABOUT.TEXT' | translate | linkify"></p>
</div>

<div class="footer-col">
  <h4>{{ 'FOOTER.SUPPORT.TITLE' | translate }}</h4>
  <ul>
    <li>
      <a [routerLink]="['/account']">
        {{ 'FOOTER.SUPPORT.MY_ACCOUNT' | translate }} <i class="fa fa-user"></i>
      </a>
    </li>

    <li><a href="article/informacie">{{ 'FOOTER.SUPPORT.CONTACT' | translate }}</a></li>
  </ul>
<br />
  <h4 style="margin-top:20px;">{{ 'FOOTER.OZMAJOLIKA.TITLE' | translate }}</h4>
  <ul>
      <li><a [routerLink]="['/article/majolika-as']">Slovenská Ľudová Majolika, a. s.</a></li>
    <li><a [routerLink]="['/article/oz-slm']">OZ Slovenská Ľudová Majolika</a></li>
    <li><a [routerLink]="['/article/nove-vzory']">{{ 'FOOTER.INFO.NEW_MODELS' | translate }}</a></li>
   </ul>
</div>

<div class="footer-col">
  <h4>{{ 'FOOTER.INFO.TITLE' | translate }}</h4>
  <ul>
    <li><a href="o-nas">{{ 'FOOTER.INFO.ABOUT_COMPANY' | translate }}</a></li>
      <!-- <li><a href="#">{{ 'FOOTER.INFO.CAREERS' | translate }}</a></li> -->
    <!-- <li><a href="#">{{ 'FOOTER.INFO.BLOG' | translate }}</a></li> -->
    <li><a [routerLink]="['/article/vseobecne-obchodne-podmienky']">{{ 'FOOTER.INFO.TERMS' | translate }}</a></li>
    <li><a [routerLink]="['/article/ochrana-a-spracovanie-osobnych-udajov']">{{ 'FOOTER.INFO.PRIVACY' | translate }}</a></li>
    <li>
      <a [routerLink]="['/odstupenie-od-zmluvy']">
        {{ 'WITHDRAWAL.FOOTER_LINK' | translate }}
      </a>
    </li>

  </ul>
</div>

<div class="footer-col footer-newsletter">
  <h4>{{ 'FOOTER.NEWSLETTER.TITLE' | translate }}</h4>
  <p>{{ 'FOOTER.NEWSLETTER.TEXT' | translate }}</p>
<app-footer-newsletter></app-footer-newsletter>
</div>

<div class="footer-col">
  <h4>{{ 'FOOTER.SOCIAL.TITLE' | translate }}</h4>
            <div class="social-links">

              <!-- Inline SVG namiesto Font Awesome brand ikon -> fa-brands font (117 kB) sa už nesťahuje -->
              <a href="https://www.facebook.com/majolikamodra" aria-label="Facebook" target="_blank" rel="noopener">
                <svg width="29" height="29" viewBox="0 0 512 512" fill="currentColor" style="color:var(--base-blue)" aria-hidden="true" focusable="false">
                  <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/>
                </svg>
              </a>
              <a href="https://www.instagram.com/majolikamodra.sk" aria-label="Instagram" target="_blank" rel="noopener">
                <svg width="29" height="29" viewBox="0 0 448 512" fill="currentColor" style="color:var(--base-blue)" aria-hidden="true" focusable="false">
                  <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                </svg>
              </a>
              <!-- Twitter/YouTube pôvodne zakomentované -->
          </div>
          </div>
          <div class="payment-icons" style="margin:auto;">
            <!-- SVG cez CDN -->
 <!-- <img
 src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/visa.svg"
 alt="Visa"
 width="40"
 height="24"
 />
 <img
 src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/mastercard.svg"
 alt="Mastercard"
 width="40"
 height="24"
 />
 <img
 src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/americanexpress.svg"
 alt="American Express"
 width="40"
 height="24"
 />
 <img
 src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/paypal.svg"
 alt="PayPal"
 width="40"
 height="24"
 /> -->
 <!-- <div class="language-switch">
   <button 
     class="btn"
     *ngFor="let lang of ['sk', 'en', 'de']"
     (click)="switchLanguage(lang)"
     [ngClass]="{ 'active-lang': isActive(lang) }">
     {{ lang.toUpperCase() }}
   </button>
 </div> -->
               </div>
                   <!-- 🌍 Prepínač jazykov -->
                   <div class="iconz footer-col">
                   
                             <a  style="padding: 4px;" href="https://www.tripadvisor.ie/Attraction_Review-g2337222-d19944851-Reviews-Slovenska_L_udova_Majolika_Modra-Modra_Bratislava_Region.html">
                               <img src="../assets/img/icons/wordmark.svg" width="124" alt="tripadvisor">
                             </a>
                             <a  style="padding: 4px;" href="http://www.sphere.sk/">
                               <img src="../assets/img/icons/sphere_card_110x47px.png" width="84" alt="sphere">
                             </a>
                             <a  style="padding: 4px;" href="https://www.kayak.de/">
                               <img src="../assets/img/icons/ORANGE_LARGE_LOGO_KAYAK.png" width="124" alt="kayak">
                             </a>
                           </div>
        </div>
    
        <!-- Spodný riadok -->




        <div class="footer-bottom">

        

       
          <p>© 2025 Slovenská ľudová majolika | Powered by <a href="https://appdesign.sk" target="_blank">appDesign.sk</a></p>
        </div>
      </footer>