
    <footer class="footer">
        <div class="container">
          <!-- O nás -->
          <div class="footer-col">
           <h4 [innerHTML]="'FOOTER.ABOUT.TITLE' | translate | linkify"></h4>
  <p [innerHTML]="'FOOTER.ABOUT.TEXT' | translate | linkify"></p>
</div>

<div class="footer-col">
  <h4>{{ 'FOOTER.SUPPORT.TITLE' | translate }}</h4>
  <ul>
    <li>
      <a [routerLink]="['/account']">
        {{ 'FOOTER.SUPPORT.MY_ACCOUNT' | translate }} <i class="fa fa-user"></i>
      </a>
    </li>

    <li><a href="article/informacie">{{ 'FOOTER.SUPPORT.CONTACT' | translate }}</a></li>
  </ul>
</div>

<div class="footer-col">
  <h4>{{ 'FOOTER.INFO.TITLE' | translate }}</h4>
  <ul>
    <li><a href="o-nas">{{ 'FOOTER.INFO.ABOUT_COMPANY' | translate }}</a></li>
      <!-- <li><a href="#">{{ 'FOOTER.INFO.CAREERS' | translate }}</a></li> -->
    <!-- <li><a href="#">{{ 'FOOTER.INFO.BLOG' | translate }}</a></li> -->
    <li><a [routerLink]="['/article/vseobecne-obchodne-podmienky']">{{ 'FOOTER.INFO.TERMS' | translate }}</a></li>
    <li><a [routerLink]="['/article/ochrana-a-spracovanie-osobnych-udajov']">{{ 'FOOTER.INFO.PRIVACY' | translate }}</a></li>
    <li><a [routerLink]="['/article/majolika-as']">Slovenská Ľudová Majolika, a. s.</a></li>
    <li><a [routerLink]="['/article/oz-slm']">OZ Slovenská Ľudová Majolika</a></li>
    <li><a [routerLink]="['/article/nove-vzory']">{{ 'FOOTER.INFO.NEW_MODELS' | translate }}</a></li>
  </ul>
</div>

<div class="footer-col footer-newsletter">
  <h4>{{ 'FOOTER.NEWSLETTER.TITLE' | translate }}</h4>
  <p>{{ 'FOOTER.NEWSLETTER.TEXT' | translate }}</p>
<app-footer-newsletter></app-footer-newsletter>
</div>

<div class="footer-col">
  <h4>{{ 'FOOTER.SOCIAL.TITLE' | translate }}</h4>
            <div class="social-links">

              <a href="https://www.facebook.com/majolikamodra" aria-label="Facebook"><i  style="font-size:1.8rem;" class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/majolikamodra.sk" aria-label="Instagram"><i  style="font-size:1.8rem;" class="fa-brands fa-instagram"></i></a>
              <!-- <a href="#" aria-label="Twitter"><i  style="font-size:1.8rem;" class="fa-brands fa-youtube"></i></a> -->
          </div>
          </div>
          <div class="payment-icons" style="margin:auto;">
            <!-- SVG cez CDN -->
 <!-- <img
 src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/visa.svg"
 alt="Visa"
 width="40"
 height="24"
 />
 <img
 src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/mastercard.svg"
 alt="Mastercard"
 width="40"
 height="24"
 />
 <img
 src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/americanexpress.svg"
 alt="American Express"
 width="40"
 height="24"
 />
 <img
 src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/paypal.svg"
 alt="PayPal"
 width="40"
 height="24"
 /> -->
 <!-- <div class="language-switch">
   <button 
     class="btn"
     *ngFor="let lang of ['sk', 'en', 'de']"
     (click)="switchLanguage(lang)"
     [ngClass]="{ 'active-lang': isActive(lang) }">
     {{ lang.toUpperCase() }}
   </button>
 </div> -->
               </div>
                   <!-- 🌍 Prepínač jazykov -->
                   <div class="iconz footer-col">
                   
                             <a  style="padding: 4px;" href="https://www.tripadvisor.ie/Attraction_Review-g2337222-d19944851-Reviews-Slovenska_L_udova_Majolika_Modra-Modra_Bratislava_Region.html">
                               <img src="../assets/img/icons/wordmark.svg" width="124" alt="tripadvisor">
                             </a>
                             <a  style="padding: 4px;" href="http://www.sphere.sk/">
                               <img src="../assets/img/icons/sphere_card_110x47px.png" width="84" alt="sphere">
                             </a>
                             <a  style="padding: 4px;" href="https://www.kayak.de/">
                               <img src="../assets/img/icons/ORANGE_LARGE_LOGO_KAYAK.png" width="124" alt="kayak">
                             </a>
                           </div>
        </div>
    
        <!-- Spodný riadok -->




        <div class="footer-bottom">

        

       
          <p>© 2025 Slovenská ľudová majolika | Powered by <a href="https://appdesign.sk" target="_blank">appDesign.sk</a></p>
        </div>
      </footer>