<h1 class="login-title">Registrácia</h1>

<mat-card class="auth-card">
  <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Používateľské meno</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="form.get('username')?.hasError('required')">
        Toto pole je povinné.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Zadajte email
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Zadajte platný e-mail
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Heslo</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        Zadajte heslo
      </mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('minlength')">
        Heslo musí mať aspoň {{ passwordMinLength }} znakov.
      </mat-error>
    </mat-form-field>

    <!-- Serverová chyba -->
    <div *ngIf="error" class="server-error">
      {{ error }}

      <!-- ✅ Tlačidlo sa zobrazí len ak existuje error -->
      <div class="mt-3">
        <button mat-stroked-button color="accent"
          (click)="resendConfirmation(form.get('email')?.value)">
          Znovu odoslať potvrdzovací e‑mail
        </button>
      </div>
    </div>

    <button mat-raised-button color="primary" class="register-btn" [disabled]="form.invalid || isSubmitting">
      <ng-container *ngIf="!isSubmitting">Registrovať sa</ng-container>
      <mat-progress-spinner *ngIf="isSubmitting"
        diameter="24"
        mode="indeterminate"
        color="accent"
        class="spinner-button"
      ></mat-progress-spinner>
    </button>
  </form>

  <mat-card-actions class="auth-actions">
    <a mat-button [routerLink]="['/login']">Už máte účet? Prihlásenie</a>
  </mat-card-actions>
</mat-card>

<app-footer class="mt-8"></app-footer>
