a{
    color: var(--base-blue);
}

.text-block {
    color: #000;
    padding-bottom: 10px;
    float: left;
    white-space: pre-line;
  }
  
  .block-two-cols {
    column-count: 2;
    column-gap: 40px;
  }
  .block-one-col {
    column-count: 1;
  }
  
  .align-left {
    text-align: left;
  }
  .align-center {
    text-align: center;
  }
  .align-right {
    text-align: right;
  }