<section class="contact-grid">
    <!-- Mapa -->
    <div
      class="map"
      style="height: 400px; width: 600px;"
      leaflet
      [leafletOptions]="options"
      [leafletLayers]="layers">
    </div>
  
    <!-- Formulár -->
    <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <label>
        Meno
        <input formControlName="name" placeholder="Vaše meno" />
      </label>
  
      <label>
        Email
        <input formControlName="email" placeholder="váš@email.sk" />
      </label>
  
      <label class="full">
        Správa
        <textarea formControlName="message" rows="6"></textarea>
      </label>
  
      <button type="submit" [disabled]="form.invalid">Odoslať</button>
    </form> -->
  </section>
  