<div class="landing-wrapper">
  <div class="landing-container">
    <!-- ---------- SLIDER ---------- -->
    <div *ngIf="slides.length" style="width:100%;">
      <div class="slider-wrapper">
        <button class="nav prev" (click)="prevSlide()">&#10094;</button>

        <div
          class="slider-scroll"
          #sliderScroll
          (mouseenter)="pauseAuto()"
          (mouseleave)="resumeAuto()"
          (scroll)="onSliderScroll()"       
          (touchstart)="pauseAuto()"         
          (touchend)="resumeAuto()"    
        >
          <div
            class="slide"
            *ngFor="let s of slides; let i = index"
            [class.active-slide]="i === currentSlideIndex"
            @fadeIn
          >
            <!-- externé video -->
            <ng-container *ngIf="s.externalVideo; else localMedia">
              <iframe
                class="slide-media"
                [src]="s.externalVideo | safeUrl"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </ng-container>

            <!-- interné video / obrázok -->
            <ng-template #localMedia>
              <ng-container *ngIf="s.videos?.length; else imgTpl">
                <video
                  class="slide-media"
                  [src]="s.videos[0]"
                  autoplay
                  muted
                  loop
                  playsinline
                ></video>
              </ng-container>
              <ng-template #imgTpl>
                <img
                  class="slide-media"
                  [src]="s.images[0] || '/assets/img/gall/placeholder.jpg'"
                  alt="{{ s.title || 'Slide image' }}"
                />
              </ng-template>
            </ng-template>

            <div class="slide-overlay" [@overlayAnimation]="i">
              <h2  style="width: 100%; max-width: 666px;" *ngIf="s.title">{{ s.title }}</h2>
              <p  style="width: 100%; max-width: 666px;" *ngIf="s.subtitle">{{ s.subtitle }}</p>
              <button
                type="button"
                class="slider-button"
                (click)="goToLink(s.url)"
              >
                <span class="slider-button__text">
                  {{ 'ESHOP.BUTTON' | translate }}
                </span>
              </button>
            </div>
          </div>
        </div>

        <button class="nav next" (click)="nextSlide()">&#10095;</button>

        <!-- PAGINATION BULLETS -->
        <div class="swiper-pagination">
          <span
            class="swiper-pagination-bullet"
            *ngFor="let _ of slides; let i = index"
            [class.swiper-pagination-bullet-active]="i === currentSlideIndex"
            (click)="goToSlide(i)"
          ></span>
        </div>
      </div>
    </div>

    <div style="position: relative; top: -90px; margin:0; padding:0; margin-bottom:-90px;">
      <img
        src="/assets/img/back_dekor_black2.png"
        alt="dekor"
        width="104"
        style="transform: rotate(90deg)"
      />
    </div>

    <!-- ---------- 4 KARTY ---------- -->
    <div class="choice-grid" [@fadeInStagger]="animationState">
      <div class="choice-card">
        <a routerLink="/o-nas">
          <div class="image-wrapper">
            <img
              [src]="imageSrc"
              alt="E-shop"
              (mouseenter)="onHover(true)"
              (mouseleave)="onHover(false)"
            />
          </div>
          <button class="choice-button">
            {{ 'ONAS.KTO_SME' | translate }}
          </button>
        </a>
      </div>

      <div class="choice-card">
        <a routerLink="/article/co-robime">
          <div class="image-wrapper">
            <img
              src="https://medusa-majolika-s3-us-east.s3.us-east-1.amazonaws.com/products/medium_2_f5e2e3a292.jpg"
              alt="Prehliadky/dielne"
            />
          </div>
          <button class="choice-button">
            {{ 'ONAS.CO_ROBIME' | translate }}
          </button>
        </a>
      </div>
    </div>

    <div class="choice-grid" [@fadeInStagger]="animationState">
      <div class="choice-card">
        <a routerLink="/article/historia-majoliky">
          <div class="image-wrapper">
            <img
              src="https://medusa-majolika-s3-us-east.s3.us-east-1.amazonaws.com/products/medium_historia5_81a4f93d4a.jpg"
              alt="E-shop"
            />
          </div>
          <button class="choice-button">
            {{ 'ONAS.HISTORIA' | translate }}
          </button>
        </a>
      </div>

      <div class="choice-card">
        <a routerLink="/article/informacie">
          <div class="image-wrapper">
            <img
              src="https://medusa-majolika-s3-us-east.s3.us-east-1.amazonaws.com/products/medium_info_majolika_18fd542a5c.jpg"
              alt="Prehliadky/dielne"
            />
          </div>
          <button class="choice-button">
            {{ 'ONAS.INFO' | translate }}
          </button>
        </a>
      </div>
    </div>






    
  
      <h2 class="mt-4 sale-section featured" 
        id="ponuka"
        style="color: var(--base-blue); text-align:center;margin:auto;padding-top:20px;padding-bottom:33px;"
      >
        {{ 'SLIDE.POPISKY_KAT_VYROBKOV' | translate }}
      </h2>
  <!-- Root kategórie -->
  <div
  *ngIf="rootCategories && rootCategories.length > 0"
  class="child-categories"  style="max-width:1000px;width:100%;margin:auto;"

>
    <div class="child-buttons">
      <div style="color:black" *ngFor="let root of rootCategories" >


      <button
        class="child-button"
        [routerLink]="['/produkt', 'kategoria', root.category_slug]"

      >
 

      <span class="img-flip">
          <img class="front" [src]="root.category_image" [alt]="root.category_name" />
          <img class="back"  [src]="root.category_image" [alt]="root.category_name" />
        </span>
        <span class="label">{{ 'CATEGORIES.' + root.category_slug | translate }}</span>
      </button>




    </div>
    </div>
  </div>
    


    

    <section class="lp-hero" [@fadeInStagger]="animationState">
      <div class="lp-hero__image">
        <img
          src="https://medusa-majolika-s3-us-east.s3.us-east-1.amazonaws.com/products/vaza_majolika_8a469cae88.png"
          alt="Majolika váza"
        />
      </div>
      <div class="lp-hero__content">
        <h2 class="lp-hero__title">
          {{ 'ONAS.MAJOLIKA_DOMA_HEADER' | translate }}
        </h2>
        <p class="lp-hero__text"  style="width:100%;max-width: 566px;">
          {{ 'ONAS.MAJOLIKA_DOMA_TEXT' | translate }}
        </p>
        <button
          [routerLink]="['/produkt/kategoria', 'na-stol']"
          class="lp-hero__cta"
        >
          {{ 'KOMPLET.PONUKA' | translate }}
        </button>
      </div>
    </section>


    <!-- ---------- FEATURED eshopy ---------- -->
    <section *ngIf="featured.length" class="sale-section featured" style="position: relative;">
      <h2 style="text-align:center; margin:auto; padding-top:20px; padding-bottom:33px;">
        {{ 'ESHOP.FEATURED' | translate }}
      </h2>

      <button (click)="scrollLeft()" class="scroll-arrow left-arrow">
        &#10094;
      </button>

      <div #scrollContainer class="scroll-x">
        <a class="card" *ngFor="let p of featured" [routerLink]="['/produkt', p.slug]">
          <img
            [src]="p.primaryImageUrl"
            [alt]="p.name"
            loading="lazy"
            (load)="onImageLoad(p.slug)"
            (error)="onImageError(p.slug)"
          />
          <span class="card-label">{{ p.name }}</span>
        </a>
      </div>

      <button (click)="scrollRight()" class="scroll-arrow right-arrow">
        &#10095;
      </button>
    </section>

    <!-- DEKOR + ODKAZY -->
    <div style="position: relative; top: 0">
      <img
        src="/assets/img/back_dekor_black2.png"
        alt="dekor"
        width="104"
        style="transform: rotate(90deg)"
      />
    </div>

    <div class="buttons2 mb-4" style="position: relative; display: flex; top: 0;">
      <a routerLink="/produkt" style="display:block; width:100px; height:100px;">
        {{ 'HOME.ESHOP' | translate }}
      </a>
      <a routerLink="/dielne" style="display:block; width:100px; height:100px;">
        {{ 'HOME.DIELNE' | translate }}
      </a>
      <a routerLink="/tradicia" style="display:block; width:100px; height:100px;">
        {{ 'HOME.TRADICIA' | translate }}
      </a>
    </div>

    <p class="mt-4" style="text-align: center; width:100%;max-width: 566px;">
      {{ 'ESHOP.FIRST_TEXT' | translate }}
    </p>
  </div>
</div>

<app-footer></app-footer>
