/* ---------- SLIDER ---------- */
:host ::ng-deep #video-detach-button {
  display: none !important;
}


/* .landing-wrapper { all: initial; }
.landing-wrapper * { all: unset; } */

.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: var(--corners);
  margin-bottom: 3rem;
}

.slider-scroll {
  display: flex;
  width: 100%;
  height: clamp(250px, 56vw, 760px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.slider-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.slider-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.slider-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 3px;
  background-clip: content-box;
}

.slider-scroll .slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

.slide-media {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  background: #000;
}

.slide-overlay {
  z-index: 92;
  max-width: 1200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 150px;
  margin-bottom: 40px;
  padding: 1rem 1.5rem;
  color: #edeef1;
}

.slide-overlay h2 {
  margin: 0 0 0.5rem;

  font-size: 2.8rem;
  line-height: 111%;
  font-weight: 650;
}

.slide-overlay p {
  margin: 0;
  font-size: 1rem;
  opacity: 0.9;
}

.slider-button {
  /* margin: auto; */
  position: relative;
  width: 290px;
  height: 60px;
  border: none;
  outline: none;
  background: transparent url('/assets/img/back2.webp') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #edeef1;
  margin: 16px 0 0;
}

.slider-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent url('/assets/img/back.webp') no-repeat center/cover;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.slider-button:hover::before {
  opacity: 1;
}

/* pull the text above the pseudo-element */
.slider-button__text {
  position: relative;
  z-index: 1;
  font-size: 1.4rem;
}


.slider-button2 {
  margin: -20px auto;
  position: relative;
  width: 290px;
  height: 60px;
  border: none;
  outline: none;
  background: transparent url('/assets/img/back2.webp') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--base-blue);
  /* margin: 16px 0 0; */
}

.slider-button2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent url('/assets/img/back.webp') no-repeat center/cover;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.slider-button2:hover::before {
  opacity: 1;
}

/* pull the text above the pseudo-element */
.slider-button2__text {
  color: var(--color-primary);
  position: relative;
  z-index: 1;
  font-size: 1.3rem;
}
.slider-button2:hover .slider-button2__text{
  color: var(--color-primary);

}


.slide::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 60%
  );
}

.nav.prev,
.nav.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  font-size: 4rem;
  color: #ddd;
  cursor: pointer;
  z-index: 399;
  opacity: 0.7;
  transition: color 0.3s ease;
}

.nav.prev:hover,
.nav.next:hover {
  color: #333;
}

.nav.prev {
  left: 1rem;
}

.nav.next {
  right: 0.5rem;
}

.swiper-pagination {
  position: absolute;
  bottom: 2.8rem;           /* 1rem up from the bottom of the wrapper */
  left: 50%;              /* center horizontally */
  transform: translateX(-50%);
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
  z-index: 99;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 1);
  transform: scale(1.3);
}

@media (max-width: 599px) {
  .slider-scroll {
    height: clamp(550px, 56vw, 500px);
  }

  .slide-overlay {
    bottom: 35px;

  }
  
  .nav.prev,
.nav.next {
display: none;
}

  .scroll-arrow {
    display: none;
  }
}


/* ---------- OTHER LAYOUT & GLOBAL STYLES ---------- */
.calendar-section {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.landing-container {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px var(--padding);
}

/* ---------- KARTY POD SLIDEROM ---------- */
.choice-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  justify-items: center;
  margin-bottom: 3rem;
}

.choice-card {
  position: relative;
  width: 100%;
  max-width: 600px;
  cursor: pointer;

}
.choice-card2 {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 300px;
  cursor: pointer;

}



.image-wrapper2 {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.image-wrapper2 img {
  /* border-radius: 50%; */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.choice-card2:hover .image-wrapper2 img {
  transform: scale(1.05);

}

.image-wrapper2::after {
  content: '';
  position: absolute;

}


.image-wrapper {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.image-wrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.choice-card:hover .image-wrapper img {
  transform: scale(1.05);
}

.image-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 60%
  );
}

.choice-button {
  position: absolute;
  bottom: 33px;
  left: 50%;
  transform: translate(-50%, 50%);
  background: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #edeef1;
  cursor: pointer;
  transition: transform 0.3s ease;
  white-space: nowrap;
  border-bottom: 0.1rem solid var(--color-primary);
}

.choice-button:hover {
  /* transform: translate(-50%, 45%); */
  border-bottom: 0.2rem solid var(--color-primary);
}
.choice-button2 {
  margin: auto;
  position: relative;
  bottom: -33px;
  left: 50%;
  transform: translate(-50%, 50%);
  background: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--base-blue);
  cursor: pointer;
  transition: transform 0.3s ease;
  white-space: nowrap;
}



/* ---------- FEATURED PRODUKTY ---------- */
.sale-section.featured {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 2rem;
}

.sale-section.featured h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--base-blue);
}

.scroll-x {
  display: flex;
  gap: 0.75rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  padding-inline: 0.75rem;
  width: 100%;
  background: transparent;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scroll-x .card {
  position: relative;
  flex: 0 0 clamp(16.66%, 16.66%, 200px);
  aspect-ratio: 3/5;
  border-radius: var(--corners2);
  overflow: hidden;
  text-decoration: none;
  scroll-snap-align: start;
}

.scroll-x .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll-x .card::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 60%
  );
}

.scroll-arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  font-size: 4rem;
  color: #ddd;
  cursor: pointer;
  z-index: 3;
  opacity: 0.75;
  transition: color 0.3s ease;
}

.scroll-arrow:hover {
  color: #333;
}

.left-arrow {
  left: -4rem;
}

.right-arrow {
  right: -2.7rem;
}

@media (max-width: 599px) {
  .scroll-x .card {
    flex: 0 0 clamp(33.33%, 33.333%, 200px);
    aspect-ratio: 2/5;
  }

  .calendar-grid {
    gap: 0.2rem;
  }

  .slide-overlay {

    margin-left: 10px;
    margin-bottom: 20px;

  }
}

.card-label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.945rem;
  padding-inline: 0.25rem;
  padding-right: 23px;
  font-size: 0.95rem;
  font-weight: 450;
  color: #fff;
  text-align: left;
  z-index: 1;
}




/* ---------- MALÉ ODKAZOVÉ TLAČIDLÁ ---------- */
.buttons2 a {
  background-image: url('/assets/img/back_dekor.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--base-blue);
  margin: 5px;
  padding: 36px 10px 30px;
  width: 110px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 0.03rem;
  color: #fff;
  border: 2px solid var(--base-blue);
  transition: 0.35s ease-in-out;
}

.buttons2 a:hover,
.buttons2 a:active,
.buttons2 a:focus {
  background-image: url('/assets/img/back_dekor_blue.png');
  background-color: transparent;
  color: #3d45a1;
}

@media (min-width: 1000px) {
  .buttons2 a {
    padding: 38px 10px 30px;
    width: 100px;
    height: 100px;
    font-size: 0.9rem;
  }
}

.play-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgba(0,0,0,0.6);
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 10;
}



.child-button {
  text-align: center;
  margin: 4px 4px;
  color:var(--base-blue);
  background-color: transparent;
  border: 1px solid var(--base-blue);
  padding: 4px 12px;
  border-radius: var(--corners);
  cursor: pointer;
  font-size: .938rem;
  transition: all 0.3s ease;
}

.child-button:hover,
.child-button.active {
  background-color: var(--base-blue);
  color: #edeef1;
}







/* hero section on landing page */
.lp-hero {
  color: var(--base-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  overflow: hidden; /* hide overflow during animation */
}

/* left side: image */
.lp-hero__image {
  flex: 1;
  padding-right: 1rem;
}

.lp-hero__image img {
  display: block;
  width: 100%;
  min-width: 260px;
  height: auto;
  border-radius: 0.5rem;
}

/* right side: title, text, CTA */
.lp-hero__content {
  flex: 1;
  padding-left: 1rem;
}

.lp-hero__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.lp-hero__text {
  margin-bottom: 1.25rem;
  line-height: 1.5;
}

/* call-to-action button */
.lp-hero__cta {
  position: relative;
  width: 290px;
  height: 60px;
  border: none;
  outline: none;
  background: transparent url('/assets/img/back2.webp') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #edeef1;
  margin: 16px 0 0;
}

.lp-hero__cta:hover {
  background: transparent url('/assets/img/back.webp') no-repeat center/cover;
}


/* @media (max-width: 799px) {
  .lp-hero__cta {
    background-size: 12rem;


}

} */




@media (max-width: 600px) {

  .lp-hero__cta {
    margin: auto;
  }
  .lp-hero {
    flex-direction: column;
    padding: 1.5rem;
  }

  .lp-hero__image,
  .lp-hero__content {
    flex: none;      /* override flex:1 */
    width: 100%;     /* full width */
    padding: 0;      /* reset horizontal padding */
  }

  .lp-hero__image {
    margin-bottom: 1rem; /* space between image and content */
  }

  .lp-hero__content {
    text-align: center;  /* optional, for nicer mobile look */
  }
}