<section
  #productList
  class="product-list"
  [@fadeIn]="'visible'"
  [@slideUp]="'visible'"
>
  <!-- Kategória nadpis -->
<!-- Nadpis kategórií -->
<div class="cat-heading" *ngIf="selectedRootCategorySlug">
  <h2>
    <!-- ROOT názov vždy -->
    <strong (click)="onCategorySelect(selectedRootCategorySlug)" style="cursor: pointer;">{{ 'CATEGORIES.' + selectedRootCategorySlug | translate }}</strong>

    <!-- keď sme na podkategórii → » názov child -->
    <ng-container *ngIf="selectedCategorySlug !== selectedRootCategorySlug">
      &nbsp;|&nbsp;
      <strong>{{ 'CATEGORIES.' + selectedCategorySlug | translate }}</strong>
    </ng-container>

    <!-- tlačidlo × ostáva rovnaké -->
    <button
      (click)="resetCategory()"
      class="reset-button"
      title="Zobraziť všetky hlavné kategórie"
    >
      X
    </button>
  </h2>

</div>
  
  <!-- Výzva na výber kategórie -->
  <div
  *ngIf="!selectedCategory"
  >
  <h2>{{ 'ESHOP.SELECT_CATEGORY' | translate }}</h2>
</div>

<!-- Subkategórie ako buttony -->
<div

class="child-categories"  style="max-width:1000px;width:100%;margin:auto;"
>
<div class="child-buttons">
    <button
    *ngFor="let child of childCategories"
      (click)="onCategorySelect(child.category_slug)"
      class="child-button"
      [class.active]="selectedCategory === child.category_slug"
      >
      {{ 'CATEGORIES.'+child.category_slug | translate }}
    </button>
  </div>
</div>

  <!-- Text kategórie -->
  <h4 [innerHTML]="selectedCategoryText" *ngIf="selectedCategoryText && selectedCategoryText.length > 0" class="category-text" 
    style="width:100%;max-width:1000px;margin:auto;padding-bottom:40px;white-space: pre-line;">
  </h4>
  <!-- Root kategórie -->
  <div
  *ngIf="rootCategories && rootCategories.length > 0"
  class="child-categories"  style="max-width:1000px;width:100%;margin:auto;"
  [style.display]="!selectedCategory ? 'block' : 'none'"
>
    <div class="child-buttons">
      <button
        *ngFor="let root of rootCategories"
        (click)="onCategorySelect(root.category_slug)"
        class="child-button"
      >
        {{ 'CATEGORIES.'+root.category_slug | translate }} 
      </button>
    </div>
  </div>

  <!-- Chyba / prázdny výpis -->
  <div *ngIf="error" class="status error">
    {{ 'ESHOP.ERROR_LOADING_PRODUCTS' | translate }}
  </div>
  <div *ngIf="loaded && !isLoading && !error && products.length === 0" class="status-text">
    <h3>
      {{ 'ESHOP.NO_PRODUCTS_IN_CATEGORY' | translate }}
    </h3>  
  </div>

  <!-- *** SORTOVANIE *** -->
  <div
    class="sort-wrapper"
    *ngIf="!error && products.length > 0"
  >
    <label for="sortSelect"><p>{{ 'ESHOP.SORT_BY' | translate }}: </p></label>
<!-- header alebo product-list.component.html -->
<select id="sortSelect"
        class="sort-select"
        [(ngModel)]="selectedSort"
        (ngModelChange)="onSortChange($event)"
>
  <option *ngFor="let opt of sortOptions"
          [ngValue]="opt.value">   <!-- ← ngValue je bezpečnejšie pri stringoch -->
    {{ opt.label | translate }}    <!-- tu rovno pipuj preklad -->
  </option>
</select>
  </div>

<!-- Dekory -->
 <div class="flex" style="display: none;">

   <!-- Dekory ako chips -->
<div class="filter-group">
  <!-- <p>{{ 'HOME.DECOR_FILTER' | translate }}</p> -->
  <div class="chip-container">
    <button
      *ngFor="let opt of decorOptions"
      class="chip"
      [class.selected]="selectedDecors.includes(opt.slug)"
      (click)="onDecorToggle(opt.slug, !selectedDecors.includes(opt.slug))"
    >
      {{ opt.label }}
    </button>
  </div>
</div>
    

<!-- Tvarové filtre -->
<div class="filter-group">
  <!-- <p>{{ 'HOME.SHAPE_FILTER' | translate }}</p> -->
  <div class="chip-container">
    <button
      *ngFor="let opt of shapeOptions"
      class="chip"
      [class.selected]="selectedShapes.includes(opt.slug)"
      (click)="onShapeToggle(opt.slug, !selectedShapes.includes(opt.slug))"
    >
      {{ opt.label }}
    </button>
  </div>
</div>


<div class="filter-actions">
  <button
    *ngIf="selectedDecors.length || selectedShapes.length"
    class="btn-clear-filters"
    (click)="clearAllDecorFilters()"
  >
    {{ 'ESHOP.CANCEL_ALL_DECORS' | translate }}
  </button>
</div>
</div> 

  <!-- Loader -->
  <!-- <div *ngIf="isLoading" class="loading-message-wrapper"> -->
    <!-- <span class="loading-message">{{ loadingText }}</span> -->
  <!-- </div> -->
  <!-- <div *ngIf="isLoading" class="grid">
    <div class="grid-item shimmer" *ngFor="let _ of loadingPlaceholders"></div>
  </div>-->
<!-- ⬇️ Full‑screen overlay -->
<div class="page-loading-overlay" *ngIf="isLoading">
  <!-- <div class="spinner"></div> -->
</div>

  <!-- <div class="grid" *ngIf="!isLoading && !error && products.length > 0"> -->
    <div class="products-wrapper" [class.loading]="isLoading">
      <div class="grid">
        <ng-container *ngFor="let p of paginatedProducts">
          <div class="grid-item">
            <div class="img-wrapper" [class.loading]="loadingMap[p.slug]">
              <button
                class="btn-heart"
                (click)="addToFav(p)"
                type="button"
                tabindex="0"
                aria-label="Obľúbený produkt"
              >   
                <i class="fa fa-heart"></i>
              </button>
              <!-- Klik na obrázok vedie na detail produktu -->
              <a [routerLink]="['/eshop', p.slug]">
                <img
                  [src]="p.primaryImageUrl || '/assets/img/gall/placeholder.jpg'"
                  alt="{{ p.name }}"
                  (load)="onImageLoad(p.slug)"
                  (error)="onImageError(p.slug)"
                />
              </a>
            </div>
        
            <div class="info">
              <h3>
                <a [routerLink]="['/eshop', p.slug]">{{ p.name }}</a>
              </h3>
              <p *ngIf="p.price !== null; else noPrice">
                {{ p.price }} €
              </p>
              <ng-template #noPrice>
                <p>{{ 'ESHOP.PRICE_NOT_SET' | translate }}</p>
              </ng-template>
            </div>
        
            <!-- Add to cart button full-width pod produktom -->
            <button
              class="btn-cart"
              (click)="addProductToCart(p)"
              type="button"
            >
              <span class="icon" id="cart_image"></span>
              {{ 'ESHOP.VLOZ_DO_KOSIKA' | translate }}
            </button>
          </div>
        </ng-container>
        
  </div>
    <!-- overlay so spinnerom počas načítania -->
 <div class="loading-overlay" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>
  </div>
  

<!-- Paginácia -->
<div class="pagination" *ngIf="totalPages > 1 && !isLoading">
  <button *ngIf="!isLoading">#{{ totalCount }}</button>
  <button
    [disabled]="currentPage === 1"
    (click)="changePage(currentPage - 1)"
  >
    «
  </button>
  <button
    *ngFor="let page of pagesToDisplay"
    [disabled]="page === -1"
    (click)="page !== -1 && changePage(page)"
    [class.active]="page === currentPage"
  >
    <span *ngIf="page === -1">…</span>
    <span *ngIf="page !== -1">{{ page }}</span>
  </button>
  <button
    [disabled]="currentPage === totalPages"
    (click)="changePage(currentPage + 1)"
  >
    »
  </button>
</div>
</section>
