<section class="cart-page">
  <h1>{{ 'ESHOP.CART' | translate }}</h1>

  <!-- Ak sú položky, zobrazí sa košík, inak sa vykreslí šablóna #empty -->
  <ng-container *ngIf="(rows$ | async) as rows; else empty">

    <div class="cart-items">
      <!-- jedna položka košíka -->
      <div class="cart-item"
      *ngFor="let r of rows; trackBy: trackById"
      [@bounceOut]
      [@.disabled]="disableAnim"
           >

        <a [routerLink]="['/eshop', r.slug]" (click)="onProductClick()">
          <img class="item-thumb" [src]="r.img" [alt]="r.name" />
        </a>

        <div class="item-details">
          <a class="image-cart" [routerLink]="['/eshop', r.slug]" (click)="onProductClick()">
            <h2 class="item-name">{{ r.name }}</h2>
          </a>

          <p class="item-price">
            {{ r.price | number:'1.2-2' }} €
          </p>

          <div class="item-qty">
            <button (click)="dec(r)">−</button>
            <span>{{ r.qty }}</span>
            <button (click)="inc(r)">+</button>
          </div>

          <p class="item-total">
            {{ (r.price * r.qty) | number:'1.2-2' }} €
          </p>
        </div>

        <button class="remove-btn" (click)="remove(r)">✕</button>
      </div>
    </div>

    <!-- súhrn -->
    <div class="summary">
      <strong>{{ 'ESHOP.SUM_TOTAL' | translate }}: </strong>
      <span>{{ total$ | async | number:'1.2-2' }} €</span>
    </div>

    <!-- pokracovat -->
    <button class="continue-shopping"
    (click)="onProductClick()">
    {{ 'ESHOP.POKRACOVAT_SHOPPING' | translate }}
  </button>
  <!-- k pokladni -->
    <button class="checkout"
            [disabled]="rows.length === 0"
            routerLink="/pokladna">
      {{ 'ESHOP.DO_POKLADNE' | translate }}
    </button>

  </ng-container>

  <!-- prázdny košík -->
  <ng-template #empty>
    <h2 class="empty">{{ 'ESHOP.CART_IS_EMPTY' | translate }}</h2>
  </ng-template>
</section>
