/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://use.typekit.net/gpz7sjg.css");


:root {
  --color-primary: #f0f0f0;   /* predvolená farba */
  --theme-accent:  #2ecc71;
  --corners: 0px;
  --padding: 0px;
  --base-blue: #0e29a0;
  --base-blue-thin: #1d285823;
  --base-blue-thin2: #1d285809;
  --base-blue-hover: #081a69;
  /* prípadne ďalšie premené */
}



html, body {     background: var(--color-primary);
}


body {
  margin: 0;
  font-family: "alegreya", serif;
  background-image: url("/assets/img/corner6.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size:40rem;

  animation: slideUpImage 1.2s ease-out forwards;
}



i.fas{
  color:var(--base-blue);
}
i.fas:hover{
  color:var(--base-blue-hover);
}
i{
  color: var(--base-blue);
}

@media (max-width: 1000px) {
  body{
    background-image: url("/assets/img/corner7.png");
    background-size:28rem;


  }
/* 1b2d6f */

}
@media (max-width: 600px) {
  body{
    background-image: url("/assets/img/corner7.png");
    background-size:22rem;


  }
/* 1b2d6f */

}



button{
  margin:10px;
  border: 0px;
  background-color: var(--base-blue);
  border-radius: var(--corners);
  padding: 2px 16px 2px 16px;
}

button:focus:not(:focus-visible) {
  outline: none;
}
select{
  margin: 10px;
  border-radius: var(--corners);
  border: 2px solid var(--base-blue);
  background-color: transparent;
}
   
option{
  font-size: 0.77rem;
  cursor: pointer;
} 

label{
color: var(--base-blue);
}

img{
  border-radius: var(--corners);
}
  
  .hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(27, 33, 100, 0.7);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: auto;
    padding-top: 50px;
  }
  



  .buttons a {
    background-image: url("/assets/img/back_dekor.png");
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center; 
     margin: 10px;
     padding: 32px 10px 30px 10px;
     width: 80px;
     height: 80px;
     text-align: center;
     border-radius: var(--corners);
     text-decoration: none;
     font-size: 0.56rem;
     letter-spacing: 0.05rem;
     font-weight: 600;
     color: #fff;
     border-radius: 50%;
     transition: 0.35s ease-in-out;
     opacity: 0.9;
     border: 2px solid #fff;

  }
  
  .buttons a:hover, .buttons a:active, .buttons a:focus {
    background-image: url("/assets/img/back_dekor.png");

background-color:#3d45a1;
    color: #fff;
    border: 0px solid #ddd;
  }
  
  @media (min-width: 768px) {

    .hero{
      margin-top: 0px;

    }
  }


  @media (min-width: 1000px) {
    .buttons a {
      padding: 44px 10px 30px 10px;
      width: 120px;
      height: 120px;
      font-size: 1.05rem;

    }

  }

  /* @media (min-width: 768px) {

  body.tradicia-mode .mobile-menu {
    font-size: 26px;
    background: transparent;
    color: #3d45a1;
    opacity: 0.9;
    border: none;
    padding: 8px;
    cursor: pointer;
}

body.tradicia-mode .btn {
    color: #3d45a1;
    border: 1px solid #3d45a1;
    margin: 2px;
  }
body.tradicia-mode .btn:hover  {
    background: #3d45a1;
    color: #ddd;
  }
body.tradicia-mode .btn.active-lang {
    background: #3d45a1;
    color: #ddd;
  }

body.tradicia-mode .header-text a{
    color: #3d45a1;


  }

} */


h5{


      list-style: none;
      margin: 1px 1px 4px 0px; padding: 2px;
      font-size: 0.79rem;
      font-weight: 400;
     line-height: 139%;
        color: #6d7581;
        cursor: pointer;
    }



  h1, h2, h3, h4, p, a {
    letter-spacing: 0.02cap;
    
}

  .buttons2 a {
    background-image: url("/assets/img/back_dekor.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin: 10px;
    padding: 32px 10px 30px 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 0.56rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
    transition: 0.35s ease-in-out;
    opacity: 0.9;
    border: 2px solid #fff;

  }
  
  .buttons2 a:hover, .buttons2 a:active, .buttons2 a:focus {
    background-image: url("/assets/img/back_dekor_blue.png");

background-color:#fff;
    color: #3d45a1;
    border: 2px solid #3d45a1;

  }

  @media (min-width: 1000px) {
    .buttons2 a {
      padding: 38px 10px 30px 10px;
      width: 100px;
      height: 100px;
      font-size: 0.79rem;

    }
  }



/* 
  h1, h2, h3, h4, p, a {
        font-family: 'Roboto';
  } */

  h1{
    font-size: 240%;;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0px;
  }

a{
    color: #ddd;
    text-transform: uppercase;
}

a:hover{
    color: #ddd;

}


/* .btn{
    background-color: transparent;
    border: 0px solid #ddd;
    color: #ddd;
    font-size: 80%;
    margin: 4px;
    border-radius: 50%;
    padding: 4px;
    transition: 0.55s ease-in-out;
}

.btn:hover{
    background-color: #ddd;
    color: #000;
} */


.btn:focus {
    outline: none; /* ✅ Odstráni modré orámovanie */
    box-shadow: none; /* ✅ Odstráni prípadný tieň v niektorých prehliadačoch */
}



p{
  font-size: 0.72rem;

  max-width: 566px;
  margin: auto;
  margin-bottom: 44px;;
  
}


.desc, i{    font-style: normal; font-size: 0.89rem; margin-bottom:1.5rem; color:#4a5568; line-height:1.5; }
.desc br + br{ display:block; margin-top:0.75rem; }


.favorite {
  line-height: 1;
  vertical-align: middle;
}
.fa-solid {
  font-size: 1.5rem;
  font-weight: 200;
  margin: -4px 16px 0px 6px;
    line-height: 1;
    vertical-align: middle;
    transition: all 0.6s ease;
    color: var(--base-blue);
  }
 .addtofavorite:hover .fa-solid {
  color: #ddd;
}


.card{
  background-color: transparent;
}

br{
  line-height: 60%;
}


/* globálny styles.css */
#video-detach-button {
  display: none !important;
}

/* cieľ: samotný mat-dialog-container */
.mat-dialog-container.transparent-dialog {
  background-color: blue;
  box-shadow: none             !important;
  padding: 0                   !important;
}


.moja-backdrop{
  background: red;
  /* background-size:contain */

}

/* zacielené na samotný panel vo vloženej overlay vrstve */
.cdk-overlay-container .cdk-overlay-pane .mat-dialog-container.transparent-dialog {
  background-color: transparent !important;
  box-shadow: none               !important;
  padding: 0                     !important;
}