<h1 class="login-title mat-headline-5">{{ 'reset.title' | translate }}</h1>
<mat-card style="max-width:500px" class="max-w-md mx-auto mt-6 p-4">

  <form (ngSubmit)="submit()" #f="ngForm" novalidate>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'reset.email.label' | translate }}</mat-label>
      <input
        matInput
        id="email"
        name="email"
        [(ngModel)]="email"
        type="email"
        required
        email
        #emailModel="ngModel"
        autocomplete="email"
      />
      <mat-error *ngIf="emailModel.errors?.['required'] && (emailModel.dirty || f.submitted)">
        {{ 'reset.email.required' | translate }}
      </mat-error>
      <mat-error *ngIf="emailModel.errors?.['email'] && (emailModel.dirty || f.submitted)">
        {{ 'reset.email.invalid' | translate }}
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid || loading"
      class="w-full"
    >
      <ng-container *ngIf="!loading; else sending">{{ 'reset.submit' | translate }}</ng-container>
      <ng-template #sending>
        <mat-progress-spinner diameter="18" mode="indeterminate" class="mr-2" style="vertical-align: middle;"></mat-progress-spinner>
        {{ 'reset.sending' | translate }}
      </ng-template>
    </button>

    <p *ngIf="done" class="info mt-3">{{ 'reset.sentInfo' | translate }}</p>
    <p *ngIf="error" class="error mt-3">{{ error }}</p>
  </form>
  <br>
    <div style="width: 100%; text-align:center;">

   <a [routerLink]="['/login']"> {{ 'AUTH.ACCOUNT_LOGIN' | translate }}</a><br>
   </div>
</mat-card>

<app-footer class="mt-8"></app-footer>
