<h1 class="login-title mat-headline-5">{{ 'set.title' | translate }}</h1>
<mat-card style="max-width:500px" class="max-w-md mx-auto mt-6 p-4">

  <div *ngIf="!code" class="error">
    {{ 'set.missingCode' | translate }}
  </div>

  <form *ngIf="code" (ngSubmit)="submit()" #f="ngForm" novalidate>
    <!-- Nové heslo -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'set.password.label' | translate }}</mat-label>
      <input
        matInput
        id="password"
        name="password"
        [(ngModel)]="password"
        type="password"
        minlength="8"
        required
        autocomplete="new-password"
        #passwordModel="ngModel"
      />
      <mat-hint align="start">{{ 'set.password.hint' | translate }}</mat-hint>
      <mat-error *ngIf="passwordModel.errors?.['required'] && (passwordModel.dirty || f.submitted)">
        {{ 'set.password.required' | translate }}
      </mat-error>
      <mat-error *ngIf="passwordModel.errors?.['minlength'] && (passwordModel.dirty || f.submitted)">
        {{ 'set.password.minlength' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Potvrdenie hesla -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'set.password2.label' | translate }}</mat-label>
      <input
        matInput
        id="password2"
        name="password2"
        [(ngModel)]="password2"
        type="password"
        minlength="8"
        required
        autocomplete="new-password"
        #password2Model="ngModel"
      />
      <mat-error *ngIf="password2Model.errors?.['required'] && (password2Model.dirty || f.submitted)">
        {{ 'set.password2.required' | translate }}
      </mat-error>
      <mat-error *ngIf="password2Model.errors?.['minlength'] && (password2Model.dirty || f.submitted)">
        {{ 'set.password2.minlength' | translate }}
      </mat-error>
      <mat-error *ngIf="(password2Model.dirty || f.submitted) && !passwordsMatch">
        {{ 'set.password2.nomatch' | translate }}
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="w-full"
      [disabled]="f.invalid || loading || !passwordsMatch"
    >
      <ng-container *ngIf="!loading; else saving">{{ 'set.submit' | translate }}</ng-container>
      <ng-template #saving>
        <mat-progress-spinner diameter="18" mode="indeterminate" class="mr-2" style="vertical-align: middle;"></mat-progress-spinner>
        {{ 'set.saving' | translate }}
      </ng-template>
    </button>

    <p *ngIf="ok" class="ok mt-3">{{ 'set.success' | translate }}</p>
    <p *ngIf="error" class="error mt-3">{{ error }}</p>
  </form>
</mat-card>

<app-footer class="mt-8"></app-footer>
